.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navegador ul li {
    text-decoration: none;
    color: black;
    background-color: #08ac90;

}

.navegador ul li link{
    text-decoration: none;
    color: black;
}

.navbar{
    
}