img.pelicula-icono{
    height: 50px;
    width: 50px;
}

img.portada{
    width: 70%;
    border-radius: 5%;
    margin-top: 15px;
}

button.pelicula-icono{
    background-color: transparent;
    border: none;
}

.peliculas-info{
    background-color: #08ac90;
    border-radius: 5%;
    height: auto;
    width: 200px;
    margin: 20px;
    align-items: center;
}

.peliculas-contenedor{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

