.pelicula-info{
    background-color: #08ac90;
    border-radius: 5%;
    height: auto;
    width: 50%;
    margin: 20px;
    align-items: center;
    padding: 10px;
    
}

.comentario{
    border-radius: 5%;
    background-color: #08ac90;
    padding: 10px;
    margin: 10px;
    
}

.comentar{
    border-radius: 5%;
    background-color: #08ac90;
    padding: 10px;
    margin: 10px;
    display: list-item;
    list-style-type: none;
    align-items: center;
    
}

.comentario-comentar{
    height: auto;
    margin: 20px;

}

.pelicula-img{
    width: 35%;

}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.range{
    cursor: pointer;
    accent-color: #040c43;
}

.textbox{
    height: 60px;
    font-family:"Arial";  
    font-size: 15px;
    resize: vertical;
}

.boton{
    outline: none;
    text-decoration: none;
    cursor: pointer;
    size: 20px;
}

.publicar{
    background-color: #d2d7e5;
 }

 .publicar:hover{
    background-color: #37657d;
 }

.borrar{
    color: #040c43;
}

.borrar:hover{
    color: #a7105b;
}