img.pelicula-icono{
    height: 50px;
    width: 50px;
}

button.pelicula-icono{
    background-color: transparent;
    border: none;
}

.peliculas-info{
    background-color: #08ac90;
    border-radius: 5%;
    height: 300px;
    width: 200px;
}

