.portadaSerie img{
    max-width: 240px;
    max-height: 300px;
    border-radius: 30px;
    
}

.portadaSerie{
    float: left;
    margin: 15px;
}

.contenido{
    width: 60%;
    background-color: #08ac90;
    border-radius: 30px;
}



.serie{
    margin-left: 30%;
    margin-right: auto;
    
}

